.products-list {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

@media screen and (min-width: 1080px) {
  .product {
    width: 80%;
  }
}

@media screen and (max-width: 1080px) {
  .product {
    width: 100%;
  }
}

.product {
  padding: 20px 10px;
}

.product-content {
  border: 1px solid #f8f7f7;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  display: flex;
  flex-direction: row;
}

.product-photo {
  padding: 20px 20px;
}

.product-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.product-header--title {
  display: flex;
  flex-direction: row;
}

.product-header--title > p {
  padding: 0px 10px;
  font-size: 1.2em;
}

.product-header--price {
  right: 10px;
  font-size: 1.8em;
}

.thumbnailUrl {
  box-shadow: 0 12px 20px -10px rgba(156, 39, 176, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(156, 39, 176, 0.2);
}

.product-details {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 10px;
}

.product-detail {
  padding: 5px 10px;
}
