@import '../../skins/index.scss';

.carousel {
	height:100%;
	margin: 0;
	width: 100%;
	position: relative;

	@include element('title') {
		position: absolute;;
		padding: 10px;
		top: 20%;
		left: 2%;

		color: white;
		font-size: 2rem;
		text-transform: uppercase;

		border-top: 10px solid rgba(167, 170, 173, 0.23);
		border-bottom: 10px solid rgba(167, 170, 173, 0.23);
	}
}

.image-slide {
	height: 100%;
	width: 100%;
	transition: background-image .3s ease-in-out;
}

.slide-arrow {
	color: rgba(167, 170, 173, 0.23);
	cursor: pointer;
	font-size: 2rem;
	position: absolute;
	top: 400px;
}

.slide-arrow.right {
	right: 1rem;
}

.slide-arrow.left {
	left: 1rem;
}
