@import '../../skins/index.scss';

.filters {
  padding: 20px;
  display: flex;
  flex-direction: column;

  @include element('title') {
    font-size: 1.6em;
    margin: 0;
  }

  @include element('list') {
    padding: 10px;
    list-style-type: none;
    border: 1px solid setColor('alabaster');
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  }
}

.filter {
  padding: 10px 0px;
  min-width: 220px;
  height: 25px;
  display: flex;
  flex-direction: row;
  align-items: center;

  div {
    width: 100%;
  }

  @include element('input') {
    border: 0;
    width: 100%;
    text-align: center;

    @include modifier('empty') {
      border-bottom: 1px solid setColor('wild-sand');
    }

    @include modifier('selection') {
      background-color: setColor('pacific-blue');
      border-bottom: 0px;
      color: white;
      font-weight: bold;
      display: flex;
    }
  }
}

.closeBox {
  background-color: setColor('pacific-blue');
  color: setColor('white');
  align-self: center;
  padding: 0px 15px;
  cursor: pointer;
}

.options {
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 2;
  background-color: setColor('alabaster');
  border: 1px solid setColor('alabaster');
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  max-width: 220px;

  @include element('item') {
    cursor: pointer;
    padding: 5px 0px;

    &:hover {
      background-color: setColor('white');
    }
    &:active {
      border: 0;
    }
  }
}
